body 
{
    background:#E9EBEE;
    font-family:Arial;
}

#content_master
{
    width:1300px;
    margin:0px auto;
    height:auto;
}

#content_placeholder
{
    width:940px;
    height:600px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 1.5);
    margin-top:10px;
    padding-left:10px;
    color:#000;
    float:right;
}

#top
{
    padding-top:5px;
    text-align:center;
    background-image:url(/images/top_1.jpg);
    width:1300px; 
    height:35px;
    color:#fff;
    font-size:xx-large;
}

#footer
{
    font-size:10px;
    color:#000;
    background:#E9EBEE;
    margin-top:10px;
    clear: both;
}

#left_content
{
    margin-top:10px;
    height:600px;
    width:330px;
    background-image:url(/images/content_left.jpg);
    float :left;
    padding-left:10px;
    color:#fff;
}

