body 
{
    background:#E9EBEE;
    font-family:Arial;
}

#content_master
{
    width:1300px;
    margin:0px auto;
    height:760px;
}

#content_placeholder
{
    width:920px;
    height:760px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3);
    margin-top:10px;
    padding-left:10px;
    color:#000;
    float:right;
}

#top
{
    padding-top:10px;
    text-align:center;
    background-color: #4267B2; 
    width:1300px; 
    height:45px;
    color:#fff;
    font-size:xx-large;
}

#footer
{
    font-size:10px;
    color:#000;
    background:#E9EBEE;
    margin-top:10px;
    clear: both;
}

#left_content
{
    margin-top:10px;
    height:760px;
    width:340px;
    background-image:url(/images/content_left.jpg);
    float :left;
    padding-left:10px;
}

